@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <meta charset="utf-8"/>
    <title>Ví dụ về Mapbox</title>
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css" rel="stylesheet" />
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #map {
            position: absolute;
            left:0;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    <style>
        #buttons {
            width: 90%;
            margin: 0 auto;
        }

        .button {
            display: inline-block;
            position: relative;
            cursor: pointer;
            width: 20%;
            padding: 8px;
            border-radius: 3px;
            margin-top: 10px;
            font-size: 12px;
            text-align: center;
            color: #fff;
            background: #ee8a65;
            font-family: sans-serif;
            font-weight: bold;
        }
    </style>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css">
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-language/v1.0.0/mapbox-gl-language.js'></script>
    <div id="map"></div>
    <ul id="buttons">
        <li id="button-fr" class="button">French</li>
        <li id="button-ru" class="button">Russian</li>
        <li id="button-de" class="button">German</li>
        <li id="button-es" class="button">Spanish</li>
        <li id="button-vi" class="button">Vietnamese</li>
    </ul>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiaG9hbmdodXloaWV1MTIzIiwiYSI6ImNsdjUxNWN2YjAybnEyanA4dzZjbDRxc20ifQ.w8hiXGpALJS6QK93_5JaiQ';
        
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [105.85, 21.0],
            zoom: 5.0
        });

        var marker = new mapboxgl.Marker({
            color: "red",
            draggable: true,
            anchor: 'bottom',
        }).setLngLat([105.85, 21.0]).addTo(map);
        
        var popup = new mapboxgl.Popup({
            closeButton: true,
            closeOnClick: false,
            anchor: 'right',
        }).setLngLat([105.85, 21.0]).setHTML("<h1>Hello HN!</h1>").addTo(map);
       
        map.addControl(new mapboxgl.NavigationControl({
            showCompass: true,
            showZoom: true,
        }));
        
        map.addControl(new mapboxgl.GeolocateControl({
            positionOptions: {
                enableHighAccuracy: true
            },
            trackUserLocation: true
        }));
        
        var scale = new mapboxgl.ScaleControl({
            maxWidth: 80,
            unit: 'imperial'
        });
        map.addControl(scale);
        scale.setUnit('metric');
        
        map.addControl(new mapboxgl.FullscreenControl());

        map.on('click', function (e) {
            var popup = new mapboxgl.Popup({
                closeButton: true,
                closeOnClick: true,
            }).setLngLat([e.lngLat.lng, e.lngLat.lat]).setHTML("<h1>vị trí nhấn là: " + e.lngLat + "</h1>").addTo(map);
        });
        map.on('click', function (e) {
            new mapboxgl.Marker({
                color: 'blue',
                draggable: true,
            }).setLngLat([e.lngLat.lng, e.lngLat.lat]).addTo(map);
        });
        map.addControl(
            new MapboxDirections({
                accessToken: mapboxgl.accessToken
            }),
            'bottom-left'
        );

        document.getElementById('buttons').addEventListener('click', (event) => {
            const language = event.target.id.substr('button-'.length);
            map.setLayoutProperty('country-label', 'text-field', [
                'get',
                `name_${language}`
            ]);
        });

    </script>
   
</body>
</html>

